# Visual Studio
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet Packages
*.nupkg
packages/

# Database
*.mdf
*.ldf

# Configuration files (có thể chứa connection string)
**/appsettings.json
**/app.config